@use "Components/SignIn"
@use "Components/Logo"
@use "Pages/Home"
@use "Container/Header"
@use "Components/banner"
@use "Components/Footer"
@use "Container/Features"
@use "Components/Feature"
@use "Container/SignInContainer"
@use "Pages/SignInPage"
@use "Components/Input"
@use "Components/Button"
@use "Components/CheckBox"
*
  margin: 0
  padding: 0
  font-family: Avenir, Helvetica, Arial, sans-serif

@font-face
  font-family: "Avenir"
  src: url("../../public/Font/Avenir_Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Avenir"
  src: url("../../public/Font/Avenir_Heavy.ttf") format("truetype")
  font-weight: bold
  font-style: normal