.noLoginContainer
  background-color: #12002b
  top: 60px
  bottom: 80px
  position: absolute
  width: 100%
  justify-content: center
  align-items: center
  display: flex
  flex-direction: column
  h1
    color: white
  p
    color: white