.content
  position: absolute
  background-color: #12002b
  display: flex
  top: 80px
  bottom: 80px
  width: 100vw
  justify-content: center
  .signInContainer
    background-color: #ffffff
    display: flex
    position: absolute
    flex-direction: column
    margin: 48px
    padding: 32px 32px 32px 32px
    height: auto
    width: 20%
    i
      text-align: center
    h1
      font-size: 2em
      margin-top: 22px
      margin-bottom: 22px
      text-align: center
