.feature
  display: flex
  flex-direction: column
  padding: 40px
  justify-content: center
  align-items: center
  img
    border: 10px solid #00bc77
    border-radius: 50%
    height: 100px
    width: 100px
    padding: 16px
  h3
    padding: 20px 0 8px 0
    font-weight: bold
    font-size: 1.25rem
  P
    padding: 0 16px 0 16px
    text-align: center
    font-size: 1em

