.input-container
  display: flex
  flex-direction: column
  color: #213547
  font-weight: bold
  justify-content: center
  height: auto
  input
    margin-bottom: 16px
    padding: 5px
    border: 1px solid rgb(187, 187, 187)
    &:disabled
      background-color: rgb(227,227,227)