.operation-container
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 20px
  :hover
    cursor: pointer
  .operation-unitaire
    width: 90%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 20px
    background-color: rgb(61,61,61)
    color: white
    margin-inline: 10px
    border-radius: 10px
    i
      font-size: 60px