.tableau-entete
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: auto
  width: 90%
  margin-top: 10px
  padding: 20px
  color: #2c3e50
  font-size: 22px
  span
    flex: 1
    text-align: left
  .col-date
    flex: 0 0 100px
  .col-description
    flex: 3
  .col-amount, .col-balance
    flex: 0 0 120px
    text-align: right
